<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.sys.menu.mapper.SysRoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.blog.sys.menu.model.SysRoleMenu">
    <id column="menu_id" jdbcType="VARCHAR" property="menuId" />
    <id column="role_id" jdbcType="VARCHAR" property="roleId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.blog.sys.menu.model.SysRoleMenu">
    delete from sys_role_menu
    where menu_id = #{menuId,jdbcType=VARCHAR}
      and role_id = #{roleId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.blog.sys.menu.model.SysRoleMenu">
    insert into sys_role_menu (menu_id, role_id)
    values (#{menuId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR})
  </insert>
<!--批量保存角色菜单关联信息-->
  <insert id="insertRoleMenu">
    insert into sys_role_menu(role_id, menu_id) values
    <foreach item="item" index="index" collection="list" separator=",">
      (#{item.roleId},#{item.menuId})
    </foreach>
  </insert>
<!--  批量删除角色菜单信息-->
  <delete id="deleteRoleMenu" parameterType="String">
    delete from sys_role_menu where role_id in
    <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
      #{roleId}
    </foreach>
  </delete>
<!--  通过角色id删除角色菜单信息-->
  <delete id="deleteRoleMenuByRoleId" parameterType="String">
      delete from sys_role_menu where role_id=#{roleId}
  </delete>
</mapper>