<!DOCTYPE html>
<html lang="zh-Hans-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width" />
    <title>VBlog首页</title>
    <link th:href="@{/web/layui/css/layui.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/web/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/web/css/index_style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/web/css/animate.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="menu" class="hover_animation menu_open" data-mark="false">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div id="navgation" class="navgation navgation_close">
        <ul class="point">
            <li><a href="/web/index">首页</a></li>
            <li><a href="/web/article/list">博客</a></li>
            <li><a href="#">留言</a></li>
        </ul>
        <div class="logo"><a>VBlog</a></div>
    </div>
    <div class="section" id="section1">
        <div class="fp-tablecell">
            <div class="page1">
                <div class="nav wow zoomIn" data-wow-duration="2s" >
                    <h1>出现又离开</h1>
                    <p>我和你本应该</p>
                    <p>各自好、各自坏 </p>
                    <p>各自生活的自在,毫无关联的存在</p>
                    <p>直到你 出现在,我眼中 躲不开</p>
                    <a class="layui-btn layui-btn-normal" style="margin-top: 20px" href="/web/article/list">Enter Blog</a>
                </div>
                <a class="next wow fadeInUp" data-wow-duration="2s" id="next"></a>
            </div>
        </div>
    </div>
    <div class="section" id="section3">
        <div class="fp-tablecell">
            <div class="page3">
                <div class="warp-box">
                    <div class="warp">
                        <div class="inner">
                            <div class="links">
                                <ul>
                                    <li class="wow fadeInLeft"><a href="#">关于</a></li>
                                    <li class="wow fadeInRight"><a href="#">+友情链接</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer wow fadeInUp" id="contact">
        <div class="footer-top">
            <div class="container">
                <div class="layui-row">
                    <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                        <div class="single-widget about">
                            <div class="footer-logo">
                                <h2>VBlog</h2>
                            </div>
                            <p>很想给你写封信,告诉你这里的天气</p>
                            <p>昨夜的那场电影,还有我的心情。</p>
                            <div class="button">
                                <a href="#" class="btn layui-btn layui-btn-normal">About Me</a>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                        <div class="single-widget">
                            <h2>相关链接</h2>
                            <ul class="social-icon">
                                <li class="active"><a href="#"><i class="fa fa-book"></i>博文</a></li>
                                <li class="active"><a href="#"><i class="fa fa-comments"></i>留言</a></li>
                                <li class="active"><a href="#"><i class="fa fa-share"></i>资源</a></li>
                                <li class="active"><a href="#"><i class="fa fa-snowflake-o"></i>日记</a></li>
                                <li class="active"><a href="#"><i class="fa fa-files-o"></i>归档</a></li>
                            </ul>                   
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md4">
                        <div class="single-widget contact">
                            <h2>联系我</h2>
                            <ul class="list">
                                <li><i class="fa fa-map"></i>地址: 暂时保密</li>
                                <li><i class="fa fa-qq"></i>QQ: 361914781 </li>
                                <li><i class="fa fa-envelope"></i>邮箱: yanakai@126.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="layui-row">
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 text-center">
                        <p>Copyright &copy; 2019 VBlog All Rights Reserved V.1.0.0 豫ICP备00000001号</p>
                    </div>
                </div>
            </div>
        </div>  
    </footer>
    <script th:src="@{/web/layui/layui.js}"></script>
    <script th:src="@{/web/js/wow.min.js}"></script>
    <script th:src="@{/web/js/index.js}"></script>
</body>
</html>