<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yk.blog.article.mapper.SysArticleInfoMapper">
  <resultMap id="BaseResultMap" type="com.yk.blog.article.model.SysArticleInfo">
    <id column="article_id" jdbcType="VARCHAR" property="articleId" />
    <result column="article_title" jdbcType="VARCHAR" property="articleTitle" />
    <result column="article_abstract" jdbcType="VARCHAR" property="articleAbstract" />
    <result column="article_content" jdbcType="VARCHAR" property="articleContent" />
    <result column="img_path" jdbcType="VARCHAR" property="imgPath" />
    <result column="chick_num" jdbcType="INTEGER" property="chickNum" />
    <result column="column_id" jdbcType="VARCHAR" property="columnId" />
    <result column="tag_id" jdbcType="VARCHAR" property="tagId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
    <result column="last_modify_name" jdbcType="VARCHAR" property="lastModifyName" />
    <result column="release_time" jdbcType="TIMESTAMP" property="releaseTime" />
    <result column="release_name" jdbcType="VARCHAR" property="releaseName" />
    <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    <result column="release_status" jdbcType="INTEGER" property="releaseStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    article_id, article_title, article_abstract, article_content, img_path, chick_num, 
    column_id, tag_id, create_time, create_name, last_modify_time, last_modify_name, 
    release_time, release_name, delete_status, release_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_article_info
    where article_id = #{articleId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_article_info
    where article_id = #{articleId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yk.blog.article.model.SysArticleInfo">
    insert into sys_article_info (article_id, article_title, article_abstract, 
      article_content, img_path, chick_num, 
      column_id, tag_id, create_time, 
      create_name, last_modify_time, last_modify_name, 
      release_time, release_name, delete_status, 
      release_status)
    values (#{articleId,jdbcType=VARCHAR}, #{articleTitle,jdbcType=VARCHAR}, #{articleAbstract,jdbcType=VARCHAR}, 
      #{articleContent,jdbcType=VARCHAR}, #{imgPath,jdbcType=VARCHAR}, #{chickNum,jdbcType=INTEGER}, 
      #{columnId,jdbcType=VARCHAR}, #{tagId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createName,jdbcType=VARCHAR}, #{lastModifyTime,jdbcType=TIMESTAMP}, #{lastModifyName,jdbcType=VARCHAR}, 
      #{releaseTime,jdbcType=TIMESTAMP}, #{releaseName,jdbcType=VARCHAR}, #{deleteStatus,jdbcType=INTEGER}, 
      #{releaseStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yk.blog.article.model.SysArticleInfo">
    insert into sys_article_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        article_id,
      </if>
      <if test="articleTitle != null">
        article_title,
      </if>
      <if test="articleAbstract != null">
        article_abstract,
      </if>
      <if test="articleContent != null">
        article_content,
      </if>
      <if test="imgPath != null">
        img_path,
      </if>
      <if test="chickNum != null">
        chick_num,
      </if>
      <if test="columnId != null">
        column_id,
      </if>
      <if test="tagId != null">
        tag_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createName != null">
        create_name,
      </if>
      <if test="lastModifyTime != null">
        last_modify_time,
      </if>
      <if test="lastModifyName != null">
        last_modify_name,
      </if>
      <if test="releaseTime != null">
        release_time,
      </if>
      <if test="releaseName != null">
        release_name,
      </if>
      <if test="deleteStatus != null">
        delete_status,
      </if>
      <if test="releaseStatus != null">
        release_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="articleTitle != null">
        #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleAbstract != null">
        #{articleAbstract,jdbcType=VARCHAR},
      </if>
      <if test="articleContent != null">
        #{articleContent,jdbcType=VARCHAR},
      </if>
      <if test="imgPath != null">
        #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="chickNum != null">
        #{chickNum,jdbcType=INTEGER},
      </if>
      <if test="columnId != null">
        #{columnId,jdbcType=VARCHAR},
      </if>
      <if test="tagId != null">
        #{tagId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createName != null">
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyName != null">
        #{lastModifyName,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null">
        #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="releaseName != null">
        #{releaseName,jdbcType=VARCHAR},
      </if>
      <if test="deleteStatus != null">
        #{deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="releaseStatus != null">
        #{releaseStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yk.blog.article.model.SysArticleInfo">
    update sys_article_info
    <set>
      <if test="articleTitle != null">
        article_title = #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleAbstract != null">
        article_abstract = #{articleAbstract,jdbcType=VARCHAR},
      </if>
      <if test="articleContent != null">
        article_content = #{articleContent,jdbcType=VARCHAR},
      </if>
      <if test="imgPath != null">
        img_path = #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="chickNum != null">
        chick_num = #{chickNum,jdbcType=INTEGER},
      </if>
      <if test="columnId != null">
        column_id = #{columnId,jdbcType=VARCHAR},
      </if>
      <if test="tagId != null">
        tag_id = #{tagId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createName != null">
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyName != null">
        last_modify_name = #{lastModifyName,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null">
        release_time = #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="releaseName != null">
        release_name = #{releaseName,jdbcType=VARCHAR},
      </if>
      <if test="deleteStatus != null">
        delete_status = #{deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="releaseStatus != null">
        release_status = #{releaseStatus,jdbcType=INTEGER},
      </if>
    </set>
    where article_id = #{articleId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yk.blog.article.model.SysArticleInfo">
    update sys_article_info
    set article_title = #{articleTitle,jdbcType=VARCHAR},
      article_abstract = #{articleAbstract,jdbcType=VARCHAR},
      article_content = #{articleContent,jdbcType=VARCHAR},
      img_path = #{imgPath,jdbcType=VARCHAR},
      chick_num = #{chickNum,jdbcType=INTEGER},
      column_id = #{columnId,jdbcType=VARCHAR},
      tag_id = #{tagId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_name = #{createName,jdbcType=VARCHAR},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      last_modify_name = #{lastModifyName,jdbcType=VARCHAR},
      release_time = #{releaseTime,jdbcType=TIMESTAMP},
      release_name = #{releaseName,jdbcType=VARCHAR},
      delete_status = #{deleteStatus,jdbcType=INTEGER},
      release_status = #{releaseStatus,jdbcType=INTEGER}
    where article_id = #{articleId,jdbcType=VARCHAR}
  </update>
    <select id="getList" parameterType="com.yk.blog.article.model.SysArticleInfo" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from sys_article_info
        <where>
            <if test="vo.articleId !=null and vo.articleId !='' ">
                and article_id = #{vo.articleId}
            </if>
            <if test="vo.articleTitle != null">
                and article_title like CONCAT('%', #{vo.articleTitle}, '%')
            </if>
            <if test="vo.columnId != null">
                and column_id = #{vo.columnId,jdbcType=VARCHAR}
            </if>
            <if test="vo.tagId != null">
                and tag_id = #{vo.tagId,jdbcType=VARCHAR}
            </if>
            <if test="vo.createTime != null">
                and DATE_FORMAT(create_time,"%Y-%m-%d") = DATE_FORMAT(#{vo.createTime},"%Y-%m-%d")
            </if>
            <if test="vo.createName != null">
                and create_name = #{vo.createName,jdbcType=VARCHAR}
            </if>
            <if test="vo.releaseTime != null">
                and DATE_FORMAT(release_time,"%Y-%m-%d") = DATE_FORMAT(#{vo.releaseTime},"%Y-%m-%d")
            </if>
            <if test="vo.releaseName != null">
                and release_name = #{releaseName,jdbcType=VARCHAR}
            </if>
            <if test="vo.deleteStatus != null">
                and delete_status = #{vo.deleteStatus,jdbcType=INTEGER}
            </if>
            <if test="vo.releaseStatus != null">
                and release_status = #{vo.releaseStatus,jdbcType=INTEGER}
            </if>
        </where>
    </select>
</mapper>