<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.sys.article.mapper.SysArticleInfoMapper">
  <resultMap id="BaseResultMap" type="com.blog.sys.article.model.SysArticleInfo">
    <id column="article_id" jdbcType="BIGINT" property="articleId" />
    <result column="article_title" jdbcType="VARCHAR" property="articleTitle" />
    <result column="article_abstract" jdbcType="VARCHAR" property="articleAbstract" />
    <result column="article_content" jdbcType="LONGVARCHAR" property="articleContent" />
    <result column="img_name" jdbcType="VARCHAR" property="imgName" />
    <result column="img_path" jdbcType="VARCHAR" property="imgPath" />
    <result column="point_num" jdbcType="INTEGER" property="pointNum" />
    <result column="chick_num" jdbcType="INTEGER" property="chickNum" />
    <result column="column_id" jdbcType="BIGINT" property="columnId" />
    <result column="tag_id" jdbcType="BIGINT" property="tagId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createName" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
    <result column="last_modify_name" jdbcType="VARCHAR" property="lastModifyName" />
    <result column="release_time" jdbcType="TIMESTAMP" property="releaseTime" />
    <result column="release_user" jdbcType="VARCHAR" property="releaseName" />
    <result column="release_name" jdbcType="VARCHAR" property="releaseName" />
    <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    <result column="release_status" jdbcType="INTEGER" property="releaseStatus" />
    <result column="top_status" jdbcType="INTEGER" property="topStatus" />
    <result column="column_name" jdbcType="VARCHAR" property="columnName" />
  </resultMap>
  <sql id="Base_Column_List">
    article_id, article_title, article_abstract, article_content, img_name, img_path,
    point_num, chick_num, column_id, tag_id, create_time, create_user, create_name, last_modify_time,
    last_modify_name, release_time, release_user, release_name, delete_status, release_status, top_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_article_info
    where article_id = #{articleId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Long">
    delete from sys_article_info
    where article_id = #{articleId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.blog.sys.article.model.SysArticleInfo">
    insert into sys_article_info (article_title, article_abstract,
      article_content, img_name, img_path,
      point_num, chick_num, column_id,
      tag_id, create_time, create_user,create_name,
      last_modify_time, last_modify_name, release_time,
      release_user,release_name, delete_status, release_status,
      top_status)
    values ( #{articleTitle,jdbcType=VARCHAR}, #{articleAbstract,jdbcType=VARCHAR},
      #{articleContent,jdbcType=VARCHAR}, #{imgName,jdbcType=VARCHAR}, #{imgPath,jdbcType=VARCHAR},
      #{pointNum,jdbcType=INTEGER}, #{chickNum,jdbcType=INTEGER}, #{columnId,jdbcType=VARCHAR},
      #{tagId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR},#{createName,jdbcType=VARCHAR},
      #{lastModifyTime,jdbcType=TIMESTAMP}, #{lastModifyName,jdbcType=VARCHAR}, #{releaseTime,jdbcType=TIMESTAMP},
       #{releaseUser,jdbcType=VARCHAR},#{releaseName,jdbcType=VARCHAR}, #{deleteStatus,jdbcType=INTEGER}, #{releaseStatus,jdbcType=INTEGER},
      #{topStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.blog.sys.article.model.SysArticleInfo">
    insert into sys_article_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="articleTitle != null">
        article_title,
      </if>
      <if test="articleAbstract != null">
        article_abstract,
      </if>
      <if test="articleContent != null">
        article_content,
      </if>
      <if test="imgName != null">
        img_name,
      </if>
      <if test="imgPath != null">
        img_path,
      </if>
      <if test="pointNum != null">
        point_num,
      </if>
      <if test="chickNum != null">
        chick_num,
      </if>
      <if test="columnId != null">
        column_id,
      </if>
      <if test="tagId != null">
        tag_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createName != null">
        create_name,
      </if>
      <if test="lastModifyTime != null">
        last_modify_time,
      </if>
      <if test="lastModifyName != null">
        last_modify_name,
      </if>
      <if test="releaseTime != null">
        release_time,
      </if>
      <if test="releaseUser != null">
        release_User,
      </if>
      <if test="releaseName != null">
        release_name,
      </if>
      <if test="deleteStatus != null">
        delete_status,
      </if>
      <if test="releaseStatus != null">
        release_status,
      </if>
      <if test="topStatus != null">
        top_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="articleTitle != null">
        #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleAbstract != null">
        #{articleAbstract,jdbcType=VARCHAR},
      </if>
      <if test="articleContent != null">
        #{articleContent,jdbcType=VARCHAR},
      </if>
      <if test="imgName != null">
        #{imgName,jdbcType=VARCHAR},
      </if>
      <if test="imgPath != null">
        #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="pointNum != null">
        #{pointNum,jdbcType=INTEGER},
      </if>
      <if test="chickNum != null">
        #{chickNum,jdbcType=INTEGER},
      </if>
      <if test="columnId != null">
        #{columnId,jdbcType=VARCHAR},
      </if>
      <if test="tagId != null">
        #{tagId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createName != null">
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyName != null">
        #{lastModifyName,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null">
        #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="releaseUser != null">
        #{releaseUser,jdbcType=VARCHAR},
      </if>
      <if test="releaseName != null">
        #{releaseName,jdbcType=VARCHAR},
      </if>
      <if test="deleteStatus != null">
        #{deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="releaseStatus != null">
        #{releaseStatus,jdbcType=INTEGER},
      </if>
      <if test="topStatus != null">
        #{topStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blog.sys.article.model.SysArticleInfo">
    update sys_article_info
    <set>
      <if test="articleTitle != null">
        article_title = #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleAbstract != null">
        article_abstract = #{articleAbstract,jdbcType=VARCHAR},
      </if>
      <if test="articleContent != null">
        article_content = #{articleContent,jdbcType=VARCHAR},
      </if>
      <if test="imgName != null">
        img_name = #{imgName,jdbcType=VARCHAR},
      </if>
      <if test="imgPath != null">
        img_path = #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="pointNum != null">
        point_num = #{pointNum,jdbcType=INTEGER},
      </if>
      <if test="chickNum != null">
        chick_num = #{chickNum,jdbcType=INTEGER},
      </if>
      <if test="columnId != null">
        column_id = #{columnId,jdbcType=BIGINT},
      </if>
      <if test="tagId != null">
        tag_id = #{tagId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_User = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createName != null">
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyName != null">
        last_modify_name = #{lastModifyName,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null">
        release_time = #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="releaseUser != null">
        release_user = #{releaseUser,jdbcType=VARCHAR},
      </if>
      <if test="releaseName != null">
        release_name = #{releaseName,jdbcType=VARCHAR},
      </if>
      <if test="deleteStatus != null">
        delete_status = #{deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="releaseStatus != null">
        release_status = #{releaseStatus,jdbcType=INTEGER},
      </if>
      <if test="topStatus != null">
        top_status = #{topStatus,jdbcType=INTEGER},
      </if>
    </set>
    where article_id = #{articleId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blog.sys.article.model.SysArticleInfo">
    update sys_article_info
    set article_title = #{articleTitle,jdbcType=VARCHAR},
      article_abstract = #{articleAbstract,jdbcType=VARCHAR},
      article_content = #{articleContent,jdbcType=VARCHAR},
      img_name = #{imgName,jdbcType=VARCHAR},
      img_path = #{imgPath,jdbcType=VARCHAR},
      point_num = #{pointNum,jdbcType=INTEGER},
      chick_num = #{chickNum,jdbcType=INTEGER},
      column_id = #{columnId,jdbcType=BIGINT},
      tag_id = #{tagId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_name = #{createName,jdbcType=VARCHAR},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      last_modify_name = #{lastModifyName,jdbcType=VARCHAR},
      release_time = #{releaseTime,jdbcType=TIMESTAMP},
      release_user = #{releaseUser,jdbcType=VARCHAR},
      release_name = #{releaseName,jdbcType=VARCHAR},
      delete_status = #{deleteStatus,jdbcType=INTEGER},
      release_status = #{releaseStatus,jdbcType=INTEGER},
      top_status = #{topStatus,jdbcType=INTEGER}
    where article_id = #{articleId,jdbcType=BIGINT}
  </update>
    <select id="getList" parameterType="com.blog.sys.article.model.SysArticleInfo" resultMap="BaseResultMap">
        select
          sai.article_id, sai.article_title, sai.article_abstract, sai.article_content,
          sai.img_name, sai.img_path, sai.chick_num,sai.column_id, sai.tag_id, sai.create_time,
          sai.create_name, sai.create_user, sai.point_num, sai.top_status,
          sai.last_modify_time, sai.last_modify_name,sai.release_time, sai.release_name,sai.release_user,
          sai.delete_status, sai.release_status,sci.column_name
        from  sys_column_info sci
        left join sys_article_info sai  on sai.column_id = sci.column_id
        <where>
            <if test="vo.articleId !=null ">
                and sai.article_id = #{vo.articleId}
            </if>
            <if test="vo.articleTitle != null and vo.articleTitle != ''">
                and sai.article_title like CONCAT('%', #{vo.articleTitle}, '%')
            </if>
            <if test="vo.columnId != null ">
                and sai.column_id = #{vo.columnId,jdbcType=BIGINT}
            </if>
            <if test="vo.tagId != null">
                and sai.tag_id = #{vo.tagId,jdbcType=BIGINT}
            </if>
            <if test="vo.createTime != null">
                and DATE_FORMAT(sai.create_time,"%Y-%m-%d") = DATE_FORMAT(#{vo.createTime},"%Y-%m-%d")
            </if>
            <if test="vo.createName != null and vo.createName != ''">
                and sai.create_name like CONCAT('%', #{vo.createName}, '%')
            </if>
            <if test="vo.releaseTime != null">
                and DATE_FORMAT(sai.release_time,"%Y-%m-%d") = DATE_FORMAT(#{vo.releaseTime},"%Y-%m-%d")
            </if>
            <if test="vo.releaseName != null and vo.releaseName != ''">
                and sai.release_name like CONCAT('%', #{vo.releaseName}, '%')
            </if>
            <if test="vo.deleteStatus != null">
                and sai.delete_status = #{vo.deleteStatus,jdbcType=INTEGER}
            </if>
            <if test="vo.releaseStatus != null">
                and sai.release_status = #{vo.releaseStatus,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <!--获取热点栏目及栏目下文章 每个栏目下文章最多获取7条-->
    <select id="getArticleListByHotColumn" resultType="com.blog.sys.article.model.SysArticleInfo">
      select
        sai.article_id, sai.article_title, sai.article_abstract, sai.article_content,
        sai.img_name, sai.img_path, sai.chick_num,sai.column_id, sai.tag_id, sai.create_time,
        sai.create_name, sai.create_user, sai.point_num, sai.top_status,
        sai.last_modify_time, sai.last_modify_name,sai.release_time, sai.release_name,sai.release_user,
        sai.delete_status, sai.release_status,sci.column_name
      from  sys_column_info sci
      left join (select * from sys_article_info where delete_status = 0 and release_status = 1 ) sai  on sai.column_id = sci.column_id
      order by sai.release_time desc
      limit 7
    </select>
</mapper>